<form id='form' ng-submit="buyTickets(User)">
	<div style='color: red' ng-hide='current_match.match_display'>
		<h2>Tickets are over</h2>
	</div>
	<div class="well">
		<div class="form-group">
			<label for="name">Your name: </label>
			<input type="text" name="name" id="name" required placeholder="Enter your name" 
			ng-model="User.name" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="numberTickets">Number tickets</label>
			<input type="number"  id="numberTickets" name="numberTickets" required ng-model="User.tickets" 
			class="form-control"><br>
		</div>
		
		<div class="form-group">
			<label for="phone">Your phone</label>
			<input type="number" name="phone" id="phone" required ng-model="User.phone" class="form-control" ng-minlength="10" ng-maxlength="12"><br>
		</div>

		<div class="form-group" readonly>
			<h5 name="Price"><b>Price:</b> {{current_match.price | currency }}</h5>
		</div>

		<div class="form-group" readonly ng-show="User.tickets!=null">
			<h5 name="Sum"><b>Sum:</b> {{User.tickets*current_match.price | currency}}</h5>
		</div>

		Sex: <input type="radio" name="Sex" id="Male" required value="1" ng-model="User.sex">
		<label for="Male">Mail </label> | <input required type="radio" id="Female" name="Sex" value="2" ng-model="User.sex">
		<label for="Female">Femail</label><br>
		
		<button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid" >Buy tickets</button>
	</div>		
		
</form>